---
import { Icon } from 'astro-icon';

export interface Props {
    title: string;
    sourceUrl: string;
    stackblitzUrl: string;
    codesandboxUrl: string;
    gitpodUrl: string;
    previewImage: string;
}

const { title, sourceUrl, stackblitzUrl, codesandboxUrl, gitpodUrl, previewImage } = Astro.props;
---

<article class="relative flex flex-col gap-4 overflow-hidden h-full p-4 z-0 bg-white rounded-lg shadow shadow-neutral-200 border border-neutral-200 transition-colors duration-50 hover:border-primary-300 hover:shadow-accent-200">
    <header class="flex flex-row flex-wrap justify-between gap-2">
        <h3 class="font-bold">{title}</h3>
        <a class="opacity-60 scale-90 transition-all duration-100 ease hover:opacity-100 hover:scale-100" href={sourceUrl} aria-label="View Source Code">
            <Icon name="github" size={24} aria-hidden="true" />
        </a>
    </header>
    <div class="flex flex-row flex-wrap gap-2">
        <a href={stackblitzUrl} aria-label="Open in StackBlitz">
            <Icon name="open-in-stackblitz" height={32} aria-hidden="true" />
        </a>
        <a href={codesandboxUrl} aria-label="Open in CodeSandbox">
            <Icon name="open-in-codesandbox" height={32} aria-hidden="true" />
        </a>
         <a href={gitpodUrl} aria-label="Open in Gitpod">
            <Icon name="open-in-gitpod" height={32} aria-hidden="true" />
        </a>
    </div>
    <img src={previewImage} alt="" />
</article>